.deck {
	box-shadow: 0px 0px 15px black;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	user-select: none;
	cursor: pointer;
	z-index: 1;
}
.deck_1_pointOfView {
	width: 20vw;
	height: 24vh;
}
.deck_2_pointOfView {
	width: 11vw;
	height: 30vh;
}
.deck_3_pointOfView {
	width: 18vw;
	height: 18vw;
}
.deck_1_fullDeck {
	width: 250px;
	height: 200px;
}
.deck_2_fullDeck {
	width: 180px;
	height: 270px;
}
.deck_3_fullDeck {
	width: 280px;
	height: 280px;
}
.deck_1_dofa {
	width: 20vw;
	height: 24vh;
}
.deck_2_dofa {
	width: 11vw;
	height: 30vh;
}
.deck_3_dofa {
	width: 18vw;
	height: 18vw;
}
.deck_1_dos-opciones {
	width: 20vw;
	height: 24vh;
}
.deck_2_dos-opciones {
	width: 11vw;
	height: 30vh;
}
.deck_3_dos-opciones {
	width: 18vw;
	height: 18vw;
}
.card-hover {
	box-shadow: 0px 0px 10px 4px white;
	transition: all 0.5s;
}

.card-front,
.card-back {
	position: relative;
	border-radius: 5px;
	border: 5px solid white;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100%;
	font-weight: 800;
	color: white;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9 alpha);
	backface-visibility: hidden;
	transition: all 0.5s;
}

.card-front {
	transform: rotateY(180deg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	height: 100%;
	z-index: 100;
}
.card-back {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: blueviolet;
	z-index: 100;
}
.card-back p {
	position: absolute;
	top: 5px;
	left: 5px;
}
