.flipabble-card-container {
	position: relative;
	z-index: 1;
	height: 120%;
	width: 27vw;
	perspective: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: solid 2px black;
	border-radius: 15px;
}

.cardTitle {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
}
.cardTitle div {
	font-size: 1.5rem;
}
