.customCardDeal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 100%;
}
.customCardDeal-button {
	width: 70px;
	height: 61px;
	background-image: url("./img/assets/flecha-izquierda.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
	cursor: pointer;
}
.customCardDeal-button:hover {
	filter: brightness(150%);
	transition: all 0.5s;
}
