.dealTypeSelector-container {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-content: center;
	column-gap: 3rem;
}
.dealTypeSelector-element-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.dealTypeSelector-element {
	width: 100px;
	height: 100px;
	cursor: pointer;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: scale(1);
	transition: all 0.3s;
}

.dealTypeSelector-element:hover {
	transform: scale(1.2);
	transition: all 0.3s;
}
