.DeckTypeSelector-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 20vh;
}
.DeckTypeSelector-container h1:first-child {
	width: 98%;
	padding-right: 40%;
	font-size: 6vh;
	padding-top: 20px;
	text-align: left;
}
.elements-container {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 15vw;
	flex-wrap: wrap;
}
.DeckTypeSelector-element-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.DeckTypeSelector-element {
	width: calc(35vh * 0.6);
	height: 35vh;
	cursor: pointer;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: scale(1);
	transition: all 0.3s;
}

.DeckTypeSelector-element:hover {
	transform: scale(1.01);
	transition: all 0.3s;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.9);
}

.selected {
	box-shadow: 0px 0px 20px 10px rgba(247, 247, 247, 0.9);
}
.DeckTypeSelector-element-button {
	position: absolute;
	bottom: 40px;
	right: 10px;
	width: 70px;
	height: 61px;
	background-image: url("./img/assets/flecha-correcta.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.5s;
}
.DeckTypeSelector-element-button:hover {
	filter: brightness(150%);
	transition: all 0.5s;
}
