.flipabble-card-container-maso_1 {
	position: relative;
	z-index: 1;
	height: 200px;
	perspective: 1000px;
	max-width: 280px;
	flex: 1 1 250px;
}
.flipabble-card-container-maso_2 {
	position: relative;
	z-index: 1;
	height: 240px;
	perspective: 1000px;
	max-width: 170px;
	flex: 1 1 170px;
}
.flipabble-card-container-maso_3 {
	position: relative;
	z-index: 1;
	height: 240px;
	perspective: 1000px;
	max-width: 240px;
	flex: 1 1 240px;
}
