.menu-view-0 {
	width: 300%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin-left: 0%;
	transition: all 1s;
}
.menu-view-1 {
	width: 300%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin-left: -100%;
	transition: all 1s;
}
.menu-view-2 {
	width: 300%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin-left: -200%;
	transition: all 1s;
}
.menu-view {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: azure;
	background-color: rgba(32, 32, 32, 0.979);
}
